<%-include("partials/header"); %>
<div class="about">
    <div class="container">
        <h1>About</h1>
        <hr class="style1">
        <div class="fade">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container">
                        <img id="portrait" src="https://i.imgur.com/UnnRGhs.jpg"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>
                        Hello! I am a rising sophomore at <strong>Princeton University</strong>. I am an engineer majoring
                        in <strong>Computer Science</strong> and am working towards a certificate in <strong>Robotics 
                            and Intelligent Systems.</strong>
                        </p>

                    <p>
                        I was born in California and moved to Shanghai, China when I was 9 years old.
                        After graduating high school in China, I returned to the US. Having lived on 
                        opposite sides of the globe, I witnessed how technological advancements have 
                        transformed both countries in such a short amount of time. Passionate about 
                        using technology to drive change and pave the way to the future, I developed 
                        an interest in design and programming. 
                        </p>

                    <p>
                        At Princeton, I am the <strong>Tech Chair of the Computer Science Council,</strong> a group of
                        undergraduates that serve as liaisons between students and faculty. I am also
                        the <strong>Treasurer for First College Council,</strong> which serves to improve the residential
                        college experience.
                    </p>
                    <p>
                        Last summer, I was a <strong>Product Marketing intern at Laiye Technology</strong>, a company
                        that specializes in robotic process automation (RPA) and AI. I am looking for
                        <strong>software engineering</strong> internship opportunities for next summer.
                    </p>
                    <p>
                        In my free time, I enjoy illustration, creative writing, playing video games, 
                        and coding.
                    </p>
                </div>
            </div>
            <hr class="style1">

            <div class="row">
                <div class="col-lg-6 container">
                    <div class="box">
                        <div class="big-icon">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                        </div>
                        <h3>Work Experience</h3>
                        <p class="center"><strong>Product Marketing Intern</strong>, Laiye Technology</p>
                        <p class="center"><strong>Teaching Assistant</strong>, COS126 (Introductory Computer Science) </p>
                        <p class="center"><strong>Grader</strong>, COS126 (Introductory Computer Science) </p>
                    </div>
                </div>
                <div class="col-lg-6 container">
                    <div class="box">
                        <div class="big-icon">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <h3>Skills</h3>
                        <p class="center"><strong>Programming languages:</strong>, Java (proficient), Javascript(intemediate), Python (beginner; intended 2020-2021 proficiency), C (beginner; intended 2020-2021 proficiency)</p>
                        <p class="center"><strong>Fulll-stack web development:</strong> HTML/CSS (intermediate), Node (intermediate), Express (intermediate)</p>
                        <p class="center"><strong>Industry Knowledge:</strong> Product marketing, event programming, social media, writing, public speaking, lab research, and more</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 container">
                    <div class="box">
                        <div class="big-icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <h3>Relevant Coursework</h3>
                        <p class="center"><strong>COS126</strong>, Programming in Java</p>
                        <p class="center"><strong>COS226</strong>, Algorithms and Data Structures </p>
                        <p class="center"><strong>COS217</strong>, Programming Systems</p>
                        <p class="center"><strong>MAT201</strong>, Multivariable Calculus</p>
                        <p class="center"><strong>MAT202</strong>, Linear Algebra with Applications</p>
                    </div>
                </div>
                <div class="col-lg-6 container">
                    <div class="box">
                        <div class="big-icon">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        <h3>Activities</h3>
                        <p class="center"><strong>Tech Chair</strong>, Princeton Computer Science Council</p>
                        <p class="center"><strong>Treasurer</strong>, First College Council</p>
                        <p class="center"><strong>Member</strong>, The Daily Princetonian, Princeton Sympoh Breakdancing Company, Princeton Art Club, Princeton East West Theater</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%-include("partials/footer"); %>
