<%-include("partials/header");%>
<div class="works">
    <div class="container">
        <h1>Code</h1>
        <hr class="style1">
        <div class="fade">
            <a href="/works"><button class="btn btn-primary btn-sm">Back to all works</button></a>
            <div class="panel">
                <div>
                    <h3>Works on my Github</h3>
                    <p>
                        My GitHub is a work-in-progress. As I code more and write more programs, 
                        my GitHub will continue to grow! Please be aware that in compliance with Princeton
                        University's Honor Code, none of the code I have written for class assignments is on my GitHub.
                        If you would like to learn more, please send me a message.
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row">
                        <div class="col-lg-6">
                            <div class="thumbnail">
                                <a href="https://github.com/sophieli8723"><img class="work-thumb" src="https://miro.medium.com/max/2732/1*mtsk3fQ_BRemFidhkel3dA.png"></a>
                                <div class="caption">
                                    <p>My GitHub. Here you can find my code and see what repositories I have contributed to.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%-include("partials/footer");%>
