<%-include("partials/header")%>
<div class="contact-response">
    <div class="container">

    <h1> Contact</h1>
    <p>Thank you for contacting! I will respond to you as soon as possible.</p>

    </div>
</div>
<%-include("partials/footer")%>