<%-include("partials/header")%>
<div class="contact-response">
    <div class="container">

        <h1>Contact</h1>
        <p> Something went wrong. Please <a href="/contact">try again.</a></p>

    </div>
</div>
<%-include("partials/footer")%>