<%-include("partials/header"); %>
    <div class="home">
        <div class="container">
        <h1 class="home-text">Hello! I'm Sophie Li.</h1>
            <p class="home-text">
        I am a rising sophomore Computer Science engineering student at Princeton University.
        I am a programmer, designer, and writer, with an interest in software engineering and 
        full-stack web development.
            </p>
        </div>
    </div>





<%-include("partials/footer"); %>
