<%-include("partials/header");%>
<div class="works">
    <div class="container">
        <h1>Code</h1>
        <hr class="style1">
        <div class="fade">
            <a href="/works"><button class="btn btn-primary btn-sm">Back to all works</button></a>
            <div class="panel">
                <div>
                    <h3>Content Operation at Laiye Technology</h3>
                    <p>
                        As a product marketing intern at Laiye Technology, an RPA+AI company based in China,
                        I launched our English content operation campaign. Over the 10-week period, I produced roughly
                        30 blogs, which would be posted on the company's website, LinkedIn, Instagram, Twitter, and Medium.
                        Our blog posts have garnered praise from investors and clients, and have attracted quality business
                        leads during the duration of my internship.
                    </p>
                    <br>
                    <br>
                </div>
                <div class="row">
                        <div class="col-lg-6">
                            <div class="thumbnail">
                                <a href="https://www.ui.bot/News/NewsList?typeId=2"><img class="work-thumb" src="https://i.imgur.com/hKi8lGv.png"></a>
                                <div class="caption">
                                    <p>The blogs I have contributed begin with the one titled "Laiye UiBot and Wulai Chatbot" posted on
                                        June 8th, 2020, and end with the one titled "6 Ways to Automate Your SAP Systems with Robotic Process Automation"
                                        posted on August 16th, 2020.
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%-include("partials/footer");%>
