<%-include("partials/header");%>
<div class="works">
    <div class="container">
        <h1>Works</h1>
        <div class="fade">
        <hr class="style1">

            <div class="row">
                <div class="col-lg-12 container">
                    <a href="/works/code">
                    <div class="strip">
                        <div class="big-icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <h3>Code</h3>
                        <p class="center"><strong>Check out the code I have written.</strong></p>
                    </div>
                </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 container">
                    <a href="/works/webpage">
                        <div class="strip">
                            <div class="big-icon">
                                <i class="fa fa-window-maximize" aria-hidden="true"></i>
                            </div>
                            <h3>Webpage Designs</h3>
                            <p class="center"><strong>Visit the websites I have designed.</strong></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 container">
                    <a href="/works/design">
                        <div class="strip">
                            <div class="big-icon">
                                <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            </div>
                            <h3>Graphic Design and Illustration</h3>
                            <p class="center"><strong>Take a look at my graphic designs and illustrations.</strong></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 container">
                    <a href="/works/marketing">
                        <div class="strip">
                            <div class="big-icon">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <h3>Content Marketing</h3>
                            <p class="center"><strong>Read the content I have put out during my marketing internship.</strong></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

<%-include("partials/footer");%>